/* ------------------- */
/* Custom properties   */
/* ------------------- */

:root {
  --white: hsl(0, 100%, 100%);
  --purple-100: hsl(275, 100%, 97%);
  --purple-600: hsl(292, 16%, 49%);
  --purple-950: hsl(292, 42%, 14%);
  --purple-650: #ad28eb;
}

/* ------------------- */
/* Reset               */
/* ------------------- */

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve centering within parent */
  min-height: 100vh;
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: clamp(1rem, 5vw, 0.9rem);
  background-color: var(--purple-100);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../assets/images/background-pattern-mobile.svg");
  background-repeat: no-repeat;
  padding: 50px;
  /* background-position: top; not needed*/
}

/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms;
    animation-iteration-count: 1;
    transition-duration: 0.01ms;
    scroll-behavior: auto;
  }
}

.title-and-star {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: center;
  height: 50px;
}

.star {
  align-self: center;
  margin-right: 0.7em;
}

.accordion-title {
  font-weight: 700;
  color: var(--purple-950);
  margin-bottom: 30px;
  text-align: center;
}

.question {
  font-weight: 600;
  color: var(--purple-950);
  cursor: pointer;
  
  
}

.question:hover {
  
  color: var(--purple-650);
  transition: 0.10s;
}

.answer {
  font-weight: 400;
  color: var(--purple-600);
  overflow: hidden;
  display: none;
}

.container {
  max-width: 60%;
  padding: 30px;
  border-radius: 15px;
  background-color: var(--white);
  min-width: 350px;
  
}


.accordion .question {
  padding: 18px 0px;
  font-size: 16px;
  cursor: pointer;
  border-bottom: 1px solid lightgrey;
}

.accordion .question::after {
  content: url("./assets/images/icon-plus.svg");
  justify-content: space-between;
  padding-left: 20px;
}

.active.question::after {
  content: url("./assets/images/icon-minus.svg");
  transition: 0.5s;
}
.accordion .answer {
  padding-top: 15px;
  font-size: 16px;
  line-height: 1.5;
  width: 100%;
  transition: 0.5s;
}

/*js styling link*/
.accordion.active .answer {
  height: 190px;
}

.accordion.active .question {
  transition: 0.6s;
}

@media (min-width: 420px) {
  body {
    background-image: url(./assets/images/background-pattern-desktop.svg);
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
   
   
    
  }

  .container {
    
    max-width: 1440px;
    width: 100%;
    
  }
  .main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
    
  }
}
