
/* ------------------- */
/* Custom properties   */
/* ------------------- */

:root {
    --white: hsl(0, 100%, 100%);
    --purple-100: hsl(275, 100%, 97%); 
    --purple-600: hsl(292, 16%, 49%);
    --purple-950: hsl(292, 42%, 14%);
}



/* ------------------- */
/* Reset               */
/* ------------------- */

/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve centering within parent */
  min-height: 100vh;
	
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 16px;
  background-color: var(--purple-100);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  margin: auto;
background-image: url("./assets/images/background-pattern-mobile.svg");
    
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
 
}

/* 5. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 7. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}


/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}


.title-star {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}
.accordion-title {
    font-weight: 700;
    color: var(--purple-950);
}

.question {
    font-weight: 600;
    color: var(--purple-950);
 

    
}
.answer {
    font-weight: 400;
    color: var(--purple-600);
    overflow: hidden;
    display: none;
    
}

.container {
    width: 55%;
    padding: 30px;
    border-radius: 15px;
    background-color: var(--white);
    z-index: 1;
   
    
   
}

 .accordion-title {
  margin-bottom: 30px;
  text-align: center;
}
 .accordion .question {
  padding: 18px 0px;
  font-size: 16px;
  cursor: pointer;
  border-bottom: 1px solid lightgrey;
  position: relative;
   
}

.accordion .question::after {
  content: url("./assets/images/icon-plus.svg");
  position: absolute;
  right: -5px;
  
  
}

.active.question::after {
  content: url("./assets/images/icon-minus.svg");
  
  transition: .5s;
 
}
 .accordion .answer {
  padding-top: 15px;
  font-size: 16px;
  line-height: 1.5;
  width: 100%;
  
 
  transition: .5s;
}


/*js styling link*/
.accordion.active .answer {
  height: 190px;
 
}


.accordion.active .question {

  transition: .6s;
} 






.hero-image {
    
    
    
    
}




